<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>925603985034042</sid>
    <event-sheet>Event Menu</event-sheet>
    <size>
        <width>1920</width>
        <height>1080</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Layer Background" sid="739112600195302">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="BGMenu" uid="9">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>Yes</active-on-start>
                                <movement>Size</movement>
                                <wave>Sine</wave>
                                <period>3</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>50</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>963</x>
                        <y>544</y>
                        <z>0</z>
                        <width>1981.046630859</width>
                        <height>1114.338745117</height>
                        <depth>0</depth>
                        <hotspotX>0.500513852</hotspotX>
                        <hotspotY>0.501372397</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="BGMenu1" uid="8">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>Yes</active-on-start>
                                <movement>Angle</movement>
                                <wave>Sine</wave>
                                <period>3</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>5</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>979</x>
                        <y>603</y>
                        <z>0</z>
                        <width>1547</width>
                        <height>704.025878906</height>
                        <depth>0</depth>
                        <hotspotX>0.500300646</hotspotX>
                        <hotspotY>0.501432657</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Layer Name" sid="195103639474771">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="BGWelcome" uid="13">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>449</x>
                        <y>81</y>
                        <z>0</z>
                        <width>835</width>
                        <height>130</height>
                        <depth>0</depth>
                        <hotspotX>0.500598788</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="txtWelcome" uid="14">
                    <properties>
                        <text>Test</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-48,700,0</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>158</x>
                        <y>34</y>
                        <z>0</z>
                        <width>612</width>
                        <height>95</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="btLogout" uid="35">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>808</x>
                        <y>86</y>
                        <z>0</z>
                        <width>146</width>
                        <height>147</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.503401339</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Layer Button" sid="831176437339537">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="btGame1" uid="10">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>960.349121094</x>
                        <y>326</y>
                        <z>0</z>
                        <width>580</width>
                        <height>200</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.504999995</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="btgame2" uid="11">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>960.349121094</x>
                        <y>540.695800781</y>
                        <z>0</z>
                        <width>580</width>
                        <height>200</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.504999995</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="btGame3" uid="12">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>960.349121094</x>
                        <y>755</y>
                        <z>0</z>
                        <width>580</width>
                        <height>200</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.504999995</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Layer Control" sid="961928296491863">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="SoundMenu" uid="6">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="LiteTween">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <tweened-property>Position</tweened-property>
                                <function>EaseOutBounce</function>
                                <target>100,100</target>
                                <target-mode>Absolute</target-mode>
                                <duration>2.5</duration>
                                <enforce-mode>Enforce</enforce-mode>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1835</x>
                        <y>86</y>
                        <z>0</z>
                        <width>147</width>
                        <height>147</height>
                        <depth>0</depth>
                        <hotspotX>0.503401339</hotspotX>
                        <hotspotY>0.503401339</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Layer LevelGame2" sid="107388980028506">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="BGBlack" uid="22">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="LiteTween">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <tweened-property>Scale</tweened-property>
                                <function>Linear</function>
                                <target>960,540</target>
                                <target-mode>Absolute</target-mode>
                                <duration>0</duration>
                                <enforce-mode>Enforce</enforce-mode>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-995</x>
                        <y>540</y>
                        <z>0</z>
                        <width>1920</width>
                        <height>1080</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>0.5</opacity>
                    </world>
                </instance>
                <instance type="BGLevelGame2" uid="15">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="LiteTween">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <tweened-property>Position</tweened-property>
                                <function>Linear</function>
                                <target>960,540</target>
                                <target-mode>Absolute</target-mode>
                                <duration>0.5</duration>
                                <enforce-mode>Enforce</enforce-mode>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-998</x>
                        <y>540</y>
                        <z>0</z>
                        <width>1037.708618164</width>
                        <height>831.956054688</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="btExitLevelGame2" uid="18">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="LiteTween">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <tweened-property>Position</tweened-property>
                                <function>Linear</function>
                                <target>1390,260</target>
                                <target-mode>Absolute</target-mode>
                                <duration>0.5</duration>
                                <enforce-mode>Enforce</enforce-mode>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-568</x>
                        <y>260</y>
                        <z>0</z>
                        <width>92</width>
                        <height>96</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Level1_Game2" uid="19">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="LiteTween">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <tweened-property>Position</tweened-property>
                                <function>Linear</function>
                                <target>630, 450</target>
                                <target-mode>Absolute</target-mode>
                                <duration>0.5</duration>
                                <enforce-mode>Enforce</enforce-mode>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-1325</x>
                        <y>450</y>
                        <z>0</z>
                        <width>138</width>
                        <height>143</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.503496528</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Level2_Game2" uid="20">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="LiteTween">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <tweened-property>Position</tweened-property>
                                <function>Linear</function>
                                <target>850, 450</target>
                                <target-mode>Absolute</target-mode>
                                <duration>0.5</duration>
                                <enforce-mode>Enforce</enforce-mode>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-1105</x>
                        <y>450</y>
                        <z>0</z>
                        <width>137</width>
                        <height>143</height>
                        <depth>0</depth>
                        <hotspotX>0.503649652</hotspotX>
                        <hotspotY>0.503496528</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Level3_Game2" uid="21">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="LiteTween">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <tweened-property>Position</tweened-property>
                                <function>Linear</function>
                                <target>1070, 450</target>
                                <target-mode>Absolute</target-mode>
                                <duration>0.5</duration>
                                <enforce-mode>Enforce</enforce-mode>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-885</x>
                        <y>450</y>
                        <z>0</z>
                        <width>137</width>
                        <height>143</height>
                        <depth>0</depth>
                        <hotspotX>0.503649652</hotspotX>
                        <hotspotY>0.503496528</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Level4_Game2" uid="26">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="LiteTween">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <tweened-property>Position</tweened-property>
                                <function>Linear</function>
                                <target>1265, 450</target>
                                <target-mode>Absolute</target-mode>
                                <duration>0.5</duration>
                                <enforce-mode>Enforce</enforce-mode>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-690</x>
                        <y>450</y>
                        <z>0</z>
                        <width>137</width>
                        <height>143</height>
                        <depth>0</depth>
                        <hotspotX>0.503649652</hotspotX>
                        <hotspotY>0.503496528</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Layer LevelGame3" sid="778814177501625">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Level1_Game3" uid="23">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="LiteTween">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <tweened-property>Position</tweened-property>
                                <function>Linear</function>
                                <target>730,450</target>
                                <target-mode>Absolute</target-mode>
                                <duration>0.5</duration>
                                <enforce-mode>Enforce</enforce-mode>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-1320</x>
                        <y>450</y>
                        <z>0</z>
                        <width>138</width>
                        <height>143</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.503496528</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Level2_Game3" uid="24">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="LiteTween">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <tweened-property>Position</tweened-property>
                                <function>Linear</function>
                                <target>950,450</target>
                                <target-mode>Absolute</target-mode>
                                <duration>0.5</duration>
                                <enforce-mode>Enforce</enforce-mode>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-1100</x>
                        <y>450</y>
                        <z>0</z>
                        <width>137</width>
                        <height>143</height>
                        <depth>0</depth>
                        <hotspotX>0.503649652</hotspotX>
                        <hotspotY>0.503496528</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Level3_Game3" uid="25">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="LiteTween">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <tweened-property>Position</tweened-property>
                                <function>Linear</function>
                                <target>1170,450</target>
                                <target-mode>Absolute</target-mode>
                                <duration>0.5</duration>
                                <enforce-mode>Enforce</enforce-mode>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-880</x>
                        <y>450</y>
                        <z>0</z>
                        <width>137</width>
                        <height>143</height>
                        <depth>0</depth>
                        <hotspotX>0.503649652</hotspotX>
                        <hotspotY>0.503496528</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="btGameRule2" uid="288">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="LiteTween">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <tweened-property>Position</tweened-property>
                                <function>Linear</function>
                                <target>967,677</target>
                                <target-mode>Absolute</target-mode>
                                <duration>0.5</duration>
                                <enforce-mode>Enforce</enforce-mode>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-1001</x>
                        <y>677</y>
                        <z>0</z>
                        <width>495.273712158</width>
                        <height>178.156021118</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.504999995</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="btGameRule3" uid="289">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="LiteTween">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <tweened-property>Position</tweened-property>
                                <function>Linear</function>
                                <target>967,677</target>
                                <target-mode>Absolute</target-mode>
                                <duration>0.5</duration>
                                <enforce-mode>Enforce</enforce-mode>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-1001</x>
                        <y>677</y>
                        <z>0</z>
                        <width>495.273986816</width>
                        <height>178.156005859</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.504999995</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
